<% @page_title = t('blacklight.collections.index.page_title', :application_name => application_name) %>
<% content_for(:head) { render_opensearch_response_metadata } %>

<div id="content" class="col-sm-12 collections-list">

  <h2>Collections</h2>

  <%= render 'collections/az_links' %>

  <%= render 'collections/sort_and_per_page' %>

  <h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

  <%= render 'collections/show_document_public_list', :documents => @document_list %>

  <%= render 'catalog/results_pagination' %>

</div>
