<div id="home_container">
<div class="search_frame">
  <div class="search_container">
    <%= render_search_bar %>

  </div>
  <div class="nav_buttons">
    <ul>
      <li><%= link_to 'Home', sufia.homepage_index_path, :class=>"nav_button" %></li>
      <li class="divider"></li>
      <li><a href="#" class="nav_button">Browse</a></li>
      <li class="divider"></li>
      <li><a href="#" class="nav_button">Learn</a></li>
      <li class="divider"></li>
      <li><a href="#" class="nav_button">About</a></li>
      <li class="divider"></li>
    </ul>
    <div class="adv_search_button_wrapper">
        <%= render partial: '/user_util_links' %>
    </div>
  </div>

</div>


<div id="home_page">
  <div id="home_logo"><%=image_tag("shared/logo_transparent.png") %></div>
</div>


</div>

<% if current_user.present? and current_user.contributor? %>
<div style="margin-top:-850px;margin-left:-380px;">
    <%= render partial: '/controls' %>
</div>
<% end %>


